*{margin: 0;padding: 0;}
body{
    height: auto;
    width: 1400px;
    overflow-x: hidden;
    /* margin-left: 125px!important; */
}
.menu{
    margin: 0;
    padding: 0;
    width: 100%; 
    position: relative;
    background-image: linear-gradient(90deg, rgb(0, 185, 242) 48%, rgb(14, 124, 205) 95%, rgb(0, 185, 242) 100%); 
    color: white;
    font-size: 15px;
    height: 60px;
}
i .fas{
    cursor: pointer;
}
.nav-link{
    color: white;
}
.sign-in{
    position: absolute;
    right: 5%;
}
.dropdown-toggle{
    background-image: linear-gradient(90deg, rgb(0, 185, 242) 48%, rgb(14, 124, 205) 95%, rgb(0, 185, 242) 100%); 
    color: white;
}
.dropdown-menu{
    left: -260%!important;
}
.searching{
    width: 900px;
    position: absolute;
    z-index: 3;
    top: 40%;
    left: 25%;
    font-size: 36px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    text-shadow: 0 1px 1px rgb(0 0 0 / 70%);
    margin-left: 12px;
}
.search{
    border: none;
    box-shadow: none;
    padding-left: 5px;
    color: #555555;
    width: 600px;   
    max-width: 100%;
}
.find{
    border: 20px solid rgba(0, 0, 0, 0.272);
}
.introductJob:hover{
    color: red;
  }
  
  .introductJob{
    color: #000;
  }
.search-button{
    width: 100px; 
    height: 60px; 
    background-color: #F7941D; 
    font-size: 15px; 
    color: white; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-company-img{
    height: 150px;
    width: 150px;
    border: 2px dotted gray;
}
.company-link a:hover{
    text-decoration: none;
    color: #F7941D;
}
.apply{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team{
    margin-left: 15%!important;
}
.team-member{
    width: 200px!important; 
    height: 200px!important;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.job-img{
    height: 100px;
    width: 100px;
}
.label-hot{
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 3;
    background-color: rgba(255, 0, 0, 0.523);
    color: white;
    height: 30px;
    width: 70px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10%;
}
.team-member-img{
    height: 400px; width: 200px;
}