h2 test
#navbarNav.collapse.navbar-collapse
    ul.navbar-nav
        nav-item
            a.nav-link(href='/users/create') Create
        br
        nav-item
            a.nav-link(href='/users/information') information